/* src/App.css */

/* Aplicando Inter como fonte padrão para todo o projeto */
:root {
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  /* Remova a linha font-family daqui, pois já definimos no :root */
}

/* App.css */

.logo {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 800; /* Extra Bold*/
  letter-spacing: -0.04em;
  margin-bottom: 10px;

  /*Degradê */
  background: linear-gradient(90deg, #267ecc 0%, #8e67e9 100%);
  -webkit-background-clip: text; /* Faz o fundo aparecer apenas no texto */
  -webkit-text-fill-color: transparent; /* Torna a cor da fonte transparente para revelar o fundo */
  background-clip: text;
}

.login-button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #10b981;
  color: white;
  font-size: 16px;
  cursor: pointer;

  /* No botão, o Bold (700) costuma ler melhor que o Extra Bold */
  font-weight: 700;
  transition: background 0.3s;
}

.login-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}

.logo span {
  color: #8b5cf6; /* O roxo da logo */
}

.subtitle {
  color: #888;
  font-size: 14px;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-field {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.input-field:focus {
  border-color: #10b981; /* Verde ao clicar */
}

.login-button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #10b981; /* Verde dos botões Fascode */
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.login-button:hover {
  background-color: #059669;
}

.footer-text {
  margin-top: 40px;
  font-size: 12px;
  color: #aaa;
}
